*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/*
project/target
project/target/.bloop
project/project
project/metals.sbt
generated/
.metals/
.vscode/
.bloop/
test_run_dir/decode_should_be_able_to_split_a_instr_correctly/Decode.lo.fir
/test_run_dir
tools/programTests
tools/programTestsOurOwn
tools/risc-v-lab-master.zip
